Repository Vizzuality/marxan-cloud, pull requests merged in 2021-01, with the labels that each got.

#14 users and projects API modules - scaffolding
  Makefile
  api/.eslintrc.js
  api/CHANGELOG.md
  api/package.json
  api/src/app.module.ts
  api/src/migrations/1608149577000-InitialDBSetup.migration.ts
  api/src/migrations/1608218183000-InitialProjectsAndOrganizationTables+Roles.migration.ts
  api/src/modules/projects/project.entity.ts
  api/src/modules/projects/projects.controller.ts
  api/src/modules/projects/projects.module.ts
  api/src/modules/projects/projects.service.ts
  api/src/modules/users/role.entity.ts
  api/src/modules/users/user.entity.ts
  api/src/modules/users/users.controller.ts
  api/src/modules/users/users.module.ts
  api/src/modules/users/users.service.ts
  api/src/types/jsonapi-serializer.stub.d.ts
  api/test/fixtures/test-data.sql
  api/tsconfig.json
  api/yarn.lock
Labels: API

#20 API scaffolding - NestJS OpenAPI plugin
  api/CHANGELOG.md
  api/package.json
  api/src/main.ts
  api/src/modules/projects/project.entity.ts
  api/src/modules/projects/projects.controller.ts
  api/src/modules/users/user.entity.ts
  api/src/modules/users/users.controller.ts
  api/yarn.lock
Labels: API

#21 more API scaffolding - CORS setup
  api/CHANGELOG.md
  api/config/custom-environment-variables.json
  api/config/default.json
  api/config/test.json
  api/package.json
  api/src/main.ts
  api/src/utils/config.utils.spec.ts
  api/src/utils/config.utils.ts
  api/src/utils/cors.utils.ts
  api/test/html/cors-test.html
  api/yarn.lock
Labels: API

#25 ping/liveness endpoint
  api/CHANGELOG.md
  api/src/app.module.ts
  api/src/modules/ping/ping.controller.spec.ts
  api/src/modules/ping/ping.controller.ts
Labels: API

#23 API - authentication
  README.md
  api/.gitignore
  api/CHANGELOG.md
  api/config/custom-environment-variables.json
  api/config/default.json
  api/package.json
  api/src/api.config.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/guards/jwt-auth.guard.ts
  api/src/main.ts
  api/src/migrations/1610395720000-AddSupportForAuthentication.ts
  api/src/modules/authentication/authentication.controller.ts
  api/src/modules/authentication/authentication.module.ts
  api/src/modules/authentication/authentication.service.ts
  api/src/modules/authentication/issued-authn-token.entity.ts
  api/src/modules/authentication/local-auth.guard.ts
  api/src/modules/authentication/strategies/jwt.strategy.ts
  api/src/modules/authentication/strategies/local.strategy.ts
  api/src/modules/projects/projects.controller.ts
  api/src/modules/users/user.entity.ts
  api/src/modules/users/users.controller.ts
  api/src/modules/users/users.service.ts
  api/src/utils/postgresql.utils.ts
  api/test/fixtures/test-data.sql
  api/tsconfig.json
  api/yarn.lock
  env.default
Labels: API

#24 Feature/documentation/geoprocessing architecture
  README.md
  data/README.md
  data/notebooks/Dockerfile
  data/notebooks/Lab/run_marxan.ipynb
  data/notebooks/Lab/v1_gcv_marxanClusteringRuns.ipynb
  data/notebooks/requirements.txt
  docker-compose.yml
  docs/README_science_and_data.md
  env.default
  marxan-api-architecture.puml
  marxan-data-processing-architecture.puml
Labels: API, Data, Ready to review, documentation

#33 Setup of two connections for both services and the initial tables for geoprocessing DB.
  Makefile
  airflow/dags/exampleDag.py
  airflow/scripts/entrypoint.sh
  api/config/custom-environment-variables.json
  api/ormconfig.ts
  api/package.json
  api/src/app.controller.ts
  api/src/migrations/api/1608149577000-InitialDBSetup.migration.ts
  api/src/migrations/api/1608218183000-InitialProjectsAndOrganizationTables+Roles.migration.ts
  api/src/migrations/api/1610395720000-AddSupportForAuthentication.ts
  api/src/migrations/api/1611329857558-initialDataMetadataEntities.ts
  api/src/modules/authentication/authentication.module.ts
  api/src/modules/authentication/authentication.service.ts
  api/src/modules/authentication/issued-authn-token.api.entity.ts
  api/src/modules/authentication/strategies/local.strategy.ts
  api/src/modules/projects/project.api.entity.ts
  api/src/modules/projects/projects.controller.ts
  api/src/modules/projects/projects.module.ts
  api/src/modules/projects/projects.service.ts
  api/src/modules/users/role.api.entity.ts
  api/src/modules/users/user.api.entity.ts
  api/src/modules/users/users.controller.ts
  api/src/modules/users/users.module.ts
  api/src/modules/users/users.service.ts
  data/notebooks/Lab/run_marxan.ipynb
  docker-compose.yml
  geoprocessing/config/custom-environment-variables.json
  geoprocessing/config/test.json
  geoprocessing/ormconfig.ts
  geoprocessing/package.json
  geoprocessing/src/migrations/geoprocessing/1611221157285-initialGeoDBSetup.ts
  geoprocessing/yarn.lock
Labels: API, Data, Ready to review, enhancement
