Repository Vizzuality/marxan-cloud, pull requests merged in 2022-05, with the labels that each got.

#1031 feat: imported project names
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
Labels: API

#1030 fix: initial surface cost generation
  api/apps/api/src/modules/scenarios/cost-surface/infra/surface-cost.events-handler.ts
  api/apps/geoprocessing/src/modules/surface-cost/adapters/available-planning-units-repository.ts
  api/apps/geoprocessing/src/modules/surface-cost/adapters/typeorm-cost-surface.ts
  api/apps/geoprocessing/src/modules/surface-cost/application/__mocks__/cost-surface-repo.fake.ts
  api/apps/geoprocessing/src/modules/surface-cost/application/__mocks__/get-available-puids.fake.ts
  api/apps/geoprocessing/src/modules/surface-cost/application/surface-cost-processor.spec.ts
  api/apps/geoprocessing/src/modules/surface-cost/application/surface-cost-processor.ts
  api/apps/geoprocessing/src/modules/surface-cost/ports/available-planning-units/get-available-planning-units.ts
  api/apps/geoprocessing/src/modules/surface-cost/ports/persistence/cost-surface-persistence.port.ts
  api/apps/geoprocessing/test/integration/cost-surface/cost-surface-repo/cost-surface-update.e2e-spec.ts
Labels: API

#1033 Fix/marxan 1519 missing specifications in scenario cloning
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-specification.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-features-specification.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-features-specification.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-features-specification.ts
Labels: API

#1035 ref: remove feature set column from scenarios
  api/apps/api/src/migrations/api/1651666472019-RemoveFeatureSetFromScenarios.ts
  api/apps/api/src/modules/scenarios/scenario.api.entity.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
Labels: API

#1036 Fix/marxan 1520 missing blm range in cloning
  api/apps/api/test/project/import-project.e2e-spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
Labels: API

#1037 Fix/marxan 1521 missing blm calibration images in cloning
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-run-results.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/fixtures.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-run-results.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-run-results.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-run-results.ts
Labels: API

#1038 Fix/clone missing data
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
Labels: API

#1040 ref: export aggregate
  api/apps/api/src/modules/clone/export/adapters/memory-export.repository.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/get-archive.handler.ts
  api/apps/api/src/modules/clone/export/application/get-archive.query.ts
  api/apps/api/src/modules/clone/export/domain/export/export.ts
  api/apps/api/src/modules/clone/import/application/import-project.command.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.command.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/src/utils/acl.utils.ts
  api/apps/api/test/project/import-project.e2e-spec.ts
Labels: API

#1042 fix: project shell visibility
  api/apps/api/src/modules/access-control/role.api.entity.ts
  api/apps/api/src/modules/clone/export/application/export-application.module.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
Labels: bug, API

#1045 fix: size calculation for hexagon grids
  api/apps/geoprocessing/src/modules/planning-units/planning-units.job.ts
  api/apps/geoprocessing/src/modules/planning-units/planning-units.service.ts
  api/apps/geoprocessing/test/e2e.config.ts
  api/apps/geoprocessing/test/planning-units-processor.e2e-spec.ts
Labels: API

#1047 feat: import legacy projects api events
  api/apps/api/src/migrations/api/1652099652734-AddImportLegacyProjectsApiEvents.ts
  api/apps/api/src/modules/projects/job-status/project-status.view.api.entity.ts
  api/libs/api-events/src/api-event-kinds.enum.ts
Labels: API

#1049 Feat/marxan 1532 create legacy project imports queue and job
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-queue.provider.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import.infra.module.ts
  api/apps/api/src/modules/legacy-project-import/legacy-project-import.module.ts
  api/apps/api/src/modules/projects/projects.module.ts
  api/apps/api/test/jest-e2e.json
  api/apps/geoprocessing/src/app.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/legacy-piece-importers.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-project-import.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-project-import.processor.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-project-import.worker.ts
  api/apps/geoprocessing/src/legacy-project-import/pieces/legacy-project-import-piece-processor.ts
  api/apps/geoprocessing/src/legacy-project-import/pieces/legacy-project-import-pieces.module.ts
  api/apps/geoprocessing/src/legacy-project-import/pieces/legacy-project-import-pieces.provider.ts
  api/apps/geoprocessing/test/jest-e2e.json
  api/libs/legacy-project-import/src/domain/index.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-piece.id.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-piece.ts
  api/libs/legacy-project-import/src/index.ts
  api/libs/legacy-project-import/src/job-input.ts
  api/libs/legacy-project-import/src/job-output.ts
  api/libs/legacy-project-import/src/legacy-project-import-piece-processor.port.ts
  api/libs/legacy-project-import/src/legacy-project-import-queue-name.ts
  api/libs/legacy-project-import/tsconfig.lib.json
  api/nest-cli.json
  api/package.json
  api/tsconfig.json
Labels: API

#1050 fix: output scenarios summaries cloning
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-run-results.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-run-results.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-run-results.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-run-results.ts
Labels: API

#1057 fix(front): BLM chart improvements [MARXAN-1392]
  app/layout/scenarios/edit/parameters/blm-calibration/chart/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/results/component.tsx
Labels: Frontend, Ready to review

#1058 Features: all target and SPF confirmation
  app/components/features/target-spf-item/component.tsx
  app/components/features/target-spf-item/types.ts
  app/components/forms/input/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/list/component.tsx
Labels: Frontend, Ready to review

#1054 feat: legacy project import aggregate
  api/apps/api/src/modules/legacy-project-import/domain/events/all-legacy-project-import-pieces-imported.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-batch-failed.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-piece-imported.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-piece-requested.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-requested.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component-status.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.id.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.snapshot.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.id.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.snapshot.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/libs/legacy-project-import/src/domain/index.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-file-type.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-file.snapshot.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-file.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-piece.id.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-piece.ts
  api/libs/legacy-project-import/src/index.ts
  api/libs/legacy-project-import/src/job-input.ts
  api/libs/legacy-project-import/src/job-output.ts
  api/libs/legacy-project-import/src/legacy-project-import-piece-processor.port.ts
Labels: API

#1059 feat(front): add emails to admin panel [MARXAN-1547]
  app/hooks/admin/index.ts
  app/layout/admin/published-projects/table/cells/email/component.tsx
  app/layout/admin/published-projects/table/cells/email/index.ts
  app/layout/admin/published-projects/table/component.tsx
Labels: Frontend, Ready to review

#1055 feat(front): pdf revision [MARXAN-1516]
  app/layout/scenarios/reports/solutions/header/component.tsx
  app/layout/scenarios/reports/solutions/intro-page/component.tsx
  app/layout/scenarios/reports/solutions/intro-page/index.ts
  app/layout/scenarios/reports/solutions/selected-solution-page/component.tsx
  app/layout/scenarios/reports/solutions/selected-solution-page/index.ts
  app/layout/scenarios/reports/solutions/selected-solution-page/map/component.tsx
  app/layout/scenarios/reports/solutions/selected-solution-page/map/index.ts
  app/layout/scenarios/reports/solutions/settings-page/component.tsx
  app/layout/scenarios/reports/solutions/settings-page/constants.ts
  app/layout/scenarios/reports/solutions/settings-page/index.ts
  app/layout/scenarios/reports/solutions/solution-frequency-page/component.tsx
  app/layout/scenarios/reports/solutions/solution-frequency-page/index.ts
  app/layout/scenarios/reports/solutions/solution-frequency-page/map/component.tsx
  app/layout/scenarios/reports/solutions/solution-frequency-page/map/index.ts
  app/pages/reports/[pid]/[sid]/solutions.tsx
Labels: Frontend, Ready to review

#1061 feat: legacy project imports repository
  api/apps/api/src/migrations/api/1652344048139-AddLegacyProjectImportTables.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.repository.ts
  api/apps/api/src/modules/legacy-project-import/infra/entities/legacy-project-import-component.api.entity.ts
  api/apps/api/src/modules/legacy-project-import/infra/entities/legacy-project-import-file.api.entity.ts
  api/apps/api/src/modules/legacy-project-import/infra/entities/legacy-project-import.api.entity.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-memory.repository.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-typeorm.repository.ts
  api/apps/api/src/modules/legacy-project-import/legacy-project-import.module.ts
  api/apps/api/test/integration/typeorm-legacy-project-import.repository.integration.e2e-spec.ts
Labels: API

#1065 feat: import legacy project piece events handler
  api/apps/api/src/modules/legacy-project-import/application/complete-import-legacy-project-piece.command.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-piece-as-failed.command.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.ts
  api/libs/legacy-project-import/src/job-output.ts
Labels: API

#1062 feat: add start legacy project import command and handler
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-memory.repository.ts
Labels: API

#1070 fix: scenarios features data piece exporter
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-data.piece-exporter.ts
Labels: API

#1074 fix: scenario features specification piece importer
  api/apps/geoprocessing/src/import/pieces-importers/scenario-features-specification.piece-importer.ts
Labels: bug, API

#1063 Feat/marxan 1544 add file to legacy project import command handler
  api/apps/api/src/modules/clone/infra/import/generate-export-from-zip-file.command.ts
  api/apps/api/src/modules/clone/infra/import/generate-export-from-zip-file.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-memory.repository.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/libs/cloning-files-repository/src/cloning-files.repository.ts
  api/libs/cloning-files-repository/src/index.ts
  api/libs/cloning-files-repository/src/local-cloning-files.repository.ts
  api/libs/legacy-project-import/src/domain/index.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-files.repository.ts
  api/libs/legacy-project-import/src/index.ts
  api/libs/legacy-project-import/src/infra/index.ts
  api/libs/legacy-project-import/src/infra/legacy-project-import-files-local.repository.ts
  api/libs/legacy-project-import/src/infra/legacy-project-import-files-memory.repository.ts
  api/libs/utils/src/file-operations.ts
Labels: API

#1077 fix(front): BLM chart improvements [MARXAN-1392]
  app/layout/scenarios/edit/parameters/blm-calibration/chart/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/results/component.tsx
Labels: bug

#1076 fix(front): remove firefox blm input margin [MARXAN-1571]
  app/layout/scenarios/edit/parameters/blm-calibration/component.tsx
Labels: bug

#1082 ref: add metadata to scenario shell
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
Labels: API

#1083 Scenario: cloning
  app/components/scenarios/item/component.tsx
  app/components/scenarios/item/settings/component.tsx
  app/hooks/scenarios/index.ts
  app/hooks/scenarios/types.ts
  app/layout/projects/show/scenarios/component.tsx
  app/layout/scenarios/edit/status/actions/done.tsx
  app/layout/scenarios/edit/status/actions/failure.tsx
  app/layout/scenarios/edit/status/constants.ts
Labels: Frontend, Ready to review, New feature

#1081 fix: scenario features data piece importer
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-specification.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-features-data.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-features-data.piece-importer.e2e-spec.ts
Labels: bug, API

#1086 fix(front): UI improvements [MARXAN-1579]
  app/components/tabs/component.tsx
  app/hooks/features/index.ts
  app/layout/about/values/component.tsx
  app/layout/beta/component.tsx
  app/layout/home/intro/component.tsx
Labels: bug

#1085 fix: added export failed api event reason
  api/apps/api/src/modules/clone/export/application/finalize-archive.handler.ts
  api/apps/api/src/modules/clone/export/domain/export/export.id.ts
  api/apps/api/src/modules/clone/infra/export/export-piece-failed.saga.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.handler.ts
  api/libs/cloning/src/domain/component.id.ts
Labels: bug, API

#1067 Feat/marxan 1557 mark legacy project import piece as failed handler
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-as-failed.command.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-as-failed.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-piece-as-failed.handler.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
Labels: API

#1088 Map loader
  app/components/map/component.tsx
  app/components/map/controls/loading/component.stories.tsx
  app/components/map/controls/loading/component.tsx
  app/components/map/controls/loading/index.ts
  app/layout/projects/new/map/component.tsx
  app/layout/projects/show/map/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/new/map/component.tsx
  app/layout/scenarios/reports/blm/map/component.tsx
  app/layout/scenarios/reports/blm/webshot-status/component.tsx
  app/layout/scenarios/reports/frequency/map/component.tsx
  app/layout/scenarios/reports/frequency/webshot-status/component.tsx
  app/layout/scenarios/reports/solutions/selected-solution-page/map/component.tsx
  app/layout/scenarios/reports/solutions/solution-frequency-page/map/component.tsx
  app/layout/scenarios/reports/solutions/webshot-status/component.tsx
Labels: Frontend, Ready to review, New feature

#1089 feat: complete legacy project import piece handler
  api/apps/api/src/modules/legacy-project-import/application/complete-legacy-project-import-piece.command.ts
  api/apps/api/src/modules/legacy-project-import/application/complete-legacy-project-import-piece.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/complete-legacy-project-import-piece.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/all-legacy-project-import-pieces-imported.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-batch-failed.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-piece-imported.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-piece-requested.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/events/legacy-project-import-requested.event.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.id.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.ts
  api/libs/cloning/src/domain/resource.id.ts
Labels: API

#1092 Duplicate: no running jobs
  app/hooks/scenarios/index.ts
  app/layout/projects/all/list/component.tsx
Labels: Frontend, Ready to review, New feature

#1091 feat(front): add credentials [MARXAN-1578]
  app/layout/scenarios/edit/planning-unit/protected-areas/categories/component.tsx
Labels: Frontend, Ready to review

#1087 fix(front): ordered features [MARXAN-1581]
  app/layout/scenarios/edit/features/set-up/add/add-modal/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/filters/component.tsx
Labels: bug, Ready to review

#1090 ref: change blm default range
  api/apps/api/src/modules/blm/values/repositories/project-blm/memory-project-blm-repository.ts
  api/apps/api/src/modules/blm/values/repositories/project-blm/project-blm.api.entity.ts
  api/apps/api/src/modules/blm/values/repositories/project-blm/typeorm-project-blm-repository.ts
  api/apps/api/src/modules/blm/values/repositories/scenario-blm/memory-scenario-blm-repository.ts
  api/apps/api/src/modules/blm/values/repositories/scenario-blm/scenario-blm.api.entity.ts
  api/apps/api/src/modules/projects/blm/domain/blm-values-calculator.spec.ts
  api/apps/api/src/modules/projects/blm/domain/blm-values-calculator.ts
  api/apps/api/src/modules/projects/dto/project-blm-values-response.dto.ts
  api/apps/api/src/modules/projects/dto/update-project-blm-range.dto.ts
  api/apps/api/src/modules/scenarios/dto/blm-range.dto.ts
  api/apps/api/src/modules/scenarios/dto/start-scenario-blm-calibration.dto.ts
  api/apps/api/src/modules/scenarios/input-files/input-params/input-parameter-file.provider.spec.ts
  api/apps/api/test/scenarios/start-scenario-calibration.fixtures.ts
Labels: API

#1098 fix: synthetic events creation right before marking an import as fini…
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.handler.ts
Labels: API

#1093 feat: legacy project import requested saga
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import-requested.saga.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-as-submitted.command.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-as-submitted.handler.ts
Labels: API

#1097 Feat/marxan 1560 legacy project import batch failed saga
  api/apps/api/src/modules/legacy-project-import/infra/failed-legacy-project-import-db-cleanup-queue.provider.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-batch-failed.saga.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import.infra.module.ts
  api/apps/api/src/modules/legacy-project-import/infra/schedule-db-cleanup-for-failed-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/infra/schedule-db-cleanup-for-failed-legacy-project-import.handler.ts
  api/libs/legacy-project-import/src/failed-legacy-project-import-db-cleanup-queue-name.ts
  api/libs/legacy-project-import/src/index.ts
  api/libs/legacy-project-import/src/job-input.ts
  api/libs/legacy-project-import/src/job-output.ts
Labels: API

#1096 feat: add legacy project import piece requested saga and scheduler
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/application/run-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import-piece-requested.saga.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import.infra.module.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import.repository.module.ts
  api/apps/api/src/modules/legacy-project-import/infra/schedule-legacy-project-import-piece.command.ts
  api/apps/api/src/modules/legacy-project-import/infra/schedule-legacy-project-import-piece.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/infra/schedule-legacy-project-import-piece.handler.ts
  api/libs/legacy-project-import/src/job-input.ts
  api/libs/legacy-project-import/src/job-output.ts
Labels: API

#1099 feat: endpoint for starting legacy project imports
  api/apps/api/src/modules/projects/dto/legacy-project-import.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
Labels: API

#1100 feat : add endpoint for running a legacy project import
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/run-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/application/run-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/run-legacy-project-import.handler.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/projects/dto/legacy-project-import.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
Labels: API

#1103 Feat/marxan 1593 endpoint for adding files to legacy project imports
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/add-file-to-legacy-project-import.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/projects/dto/legacy-project-import.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/legacy-project-import/legacy-project-import.e2e-spec.ts
  api/libs/legacy-project-import/src/infra/legacy-project-import-files-local.repository.ts
  api/libs/utils/src/file-operations.ts
Labels: API

#1105 fix(front): fixed beta header
  app/layout/admin/published-projects/table/cells/email/component.tsx
  app/layout/beta/component.tsx
  app/layout/header/component.tsx
  app/pages/index.tsx
Labels: bug

#1109 Solutions: new design
  app/hooks/solutions/index.ts
  app/layout/scenarios/edit/solutions/component.tsx
  app/layout/scenarios/edit/solutions/overview/component.tsx
  app/layout/scenarios/edit/solutions/overview/types.ts
  app/layout/sections/component.tsx
  app/layout/solutions/selected/component.tsx
Labels: Frontend, Ready to review, New feature

#1102 fix(front): solutions report feedback fixes [MARXAN-1516]
  app/layout/scenarios/reports/solutions/selected-solution-page/component.tsx
  app/layout/scenarios/reports/solutions/selection-frequency-page/component.tsx
  app/layout/scenarios/reports/solutions/selection-frequency-page/index.ts
  app/layout/scenarios/reports/solutions/selection-frequency-page/map/component.tsx
  app/layout/scenarios/reports/solutions/selection-frequency-page/map/index.ts
  app/pages/reports/[pid]/[sid]/solutions.tsx
Labels: bug, Frontend, WIP

#1108 feat: set proper errors when a job fails
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-piece-as-failed.command.ts
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-piece-as-failed.handler.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/legacy-project-import/infra/import-legacy-project-piece.events-handler.ts
  api/apps/api/src/modules/legacy-project-import/infra/legacy-project-import.infra.module.ts
  api/apps/api/src/modules/queue-api-events/adapter.ts
Labels: API

#1111 Maps: useBBOX hook
  app/hooks/map/index.ts
  app/hooks/map/types.ts
  app/layout/projects/new/map/component.tsx
  app/layout/projects/show/header/toolbar/publish-btn/publish-modal/component.tsx
  app/layout/projects/show/map/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/new/map/component.tsx
  app/layout/scenarios/reports/blm/map/component.tsx
  app/layout/scenarios/reports/frequency/map/component.tsx
  app/layout/scenarios/reports/solutions/selected-solution-page/map/component.tsx
  app/layout/scenarios/reports/solutions/selection-frequency-page/map/component.tsx
Labels: Frontend, Ready to review, New feature

#1112 Feat/marxan 1603 scenario planning units data legacy project import piece importer
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/dat-file.reader.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/file-readers.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/pu-dat.reader.spec.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/pu-dat.reader.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/legacy-piece-importers.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/planning-grid.legacy-piece-importer.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/scenarios-pus-data.legacy-piece-importer.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/planning-grid.legacy-piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/scenarios-pus-data.legacy-piece-importer.e2e-spec.ts
  api/package.json
  api/yarn.lock
Labels: API

#1114 Feat/marxan 1613 add endpoint for getting legacy project import errors and warnings
  api/apps/api/src/modules/legacy-project-import/application/get-legacy-project-import-errors.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/get-legacy-project-import-errors.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/get-legacy-project-import-errors.query.ts
  api/apps/api/src/modules/legacy-project-import/application/legacy-project-import.application.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import-component.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/projects/dto/legacy-project-import.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/legacy-project-import/legacy-project-import.e2e-spec.ts
Labels: API
