Repository Vizzuality/marxan-cloud, pull requests merged in 2022-02, with the labels that each got.

#788 MARXAN-1087-endpoint-acquire-scenarios-lock
  api/apps/api/src/modules/scenarios/locks/__mocks__/scenario-access-control.mock.ts
  api/apps/api/src/modules/scenarios/locks/dto/scenario.lock.dto.ts
  api/apps/api/src/modules/scenarios/locks/entity/scenario.lock.api.entity.ts
  api/apps/api/src/modules/scenarios/locks/lock.service.spec.ts
  api/apps/api/src/modules/scenarios/locks/lock.service.ts
  api/apps/api/src/modules/scenarios/scenarios.controller.ts
  api/apps/api/src/modules/scenarios/scenarios.module.ts
  api/apps/api/test/project-scenarios.e2e-spec.ts
Labels: API

#785 MARXAN-1154-Filter-Deleted-users
  api/apps/api/src/modules/access-control/projects-acl/project-acl.service.spec.ts
  api/apps/api/src/modules/access-control/projects-acl/project-acl.service.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.service.ts
  api/apps/api/test/access-control/project-acl/project-acl-get.e2e-spec.ts
  api/apps/api/test/access-control/project-acl/project-acl-patch.e2e-spec.ts
  api/apps/api/test/access-control/project-acl/project-acl.fixtures.ts
  api/apps/api/test/access-control/scenario-acl/scenario-acl-get.e2e-spec.ts
  api/apps/api/test/access-control/scenario-acl/scenario-acl-patch.e2e-spec.ts
  api/apps/api/test/access-control/scenario-acl/scenario-acl.fixtures.ts
  api/apps/api/test/steps/given-user-is-created.ts
  api/apps/api/test/steps/given-user-is-deleted.ts
Labels: API

#795 MARXAN-1089-updateScenario-lock-check
  api/apps/api/src/modules/scenarios/locks/lock.service.ts
  api/apps/api/src/modules/scenarios/scenarios.controller.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/api/test/project-scenarios.e2e-spec.ts
  api/apps/api/test/scenarios/input-file.e2e-spec.ts
  api/apps/api/test/scenarios/update-scenario.e2e-spec.ts
  api/tsconfig.json
Labels: API

#699 docs(front): new workflow endpoints[MARXAN-1141]
  docs/features/scenario-workflow/frontend.md
Labels: documentation, Frontend, Ready to review

#806 feat(front): new workflow tabs[MARXAN-1247]
  app/components/tabs/component.tsx
  app/layout/pill/component.tsx
  app/layout/scenarios/edit/name/component.tsx
  app/layout/scenarios/edit/tabs/component.tsx
  app/layout/scenarios/edit/tabs/constants.ts
  app/utils/utils-scenarios.js
Labels: Frontend, Ready to review

#793 Feat(front): SEO[MARXAN-819][MARXAN-820]
  app/public/robots.txt
  app/public/sitemap.xml
Labels: Frontend, Ready to review

#813 feat(front): persist BLM range[MARXAN-1259]
  app/hooks/scenarios/index.ts
  app/layout/scenarios/edit/analysis/blm-calibration/component.tsx
Labels: Frontend, Ready to review

#804 feat(front): selected BLM image[MARXAN-1238]
  app/layout/scenarios/edit/analysis/blm-calibration/blm-image-modal/component.tsx
  app/layout/scenarios/edit/analysis/blm-calibration/blm-image-modal/index.ts
  app/layout/scenarios/edit/analysis/blm-calibration/blm-settings-graph/component.tsx
  app/public/images/mock/blm-mock-image.png
  app/svgs/ui/zoom.svg
Labels: Frontend, Ready to review, New feature

#796 feat(front): Protected areas new workflow[MARXAN-1241]
  app/hooks/solutions/index.ts
  app/hooks/wdpa/index.ts
  app/layout/scenarios/edit/analysis/component.tsx
  app/layout/scenarios/edit/features/add/component.tsx
  app/layout/scenarios/edit/features/component.tsx
  app/layout/scenarios/edit/features/list/component.tsx
  app/layout/scenarios/edit/features/targets/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/edit/name/component.tsx
  app/layout/scenarios/edit/planning-unit/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/categories/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/categories/pa-uploader/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/pa-selected/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/threshold/component.tsx
  app/layout/scenarios/edit/run/component.tsx
  app/layout/scenarios/edit/solutions/component.tsx
  app/layout/scenarios/edit/status/actions/done.tsx
  app/layout/scenarios/edit/status/actions/failure.tsx
  app/layout/scenarios/edit/tabs/constants.ts
  app/layout/scenarios/edit/wdpa/categories/component.tsx
  app/layout/scenarios/edit/wdpa/component.tsx
  app/layout/scenarios/edit/wdpa/threshold/component.tsx
  app/pages/projects/[pid]/scenarios/[sid]/edit.tsx
  app/store/slices/scenarios/detail.ts
  app/store/slices/scenarios/edit.ts
  app/utils/tabs.ts
  app/utils/utils-scenarios.js
Labels: Frontend, Ready to review, New feature

#811 fix(front): avoid best solution call when the scenario has never been executed
  app/hooks/solutions/index.ts
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/edit/solutions/details/component.tsx
  app/layout/scenarios/edit/solutions/gap-analysis/list/component.tsx
  app/layout/scenarios/edit/solutions/table-form/component.tsx
Labels: bug, Frontend, Ready to review

#815 front(refactor): tabs and subtabs naming
  app/components/tabs/component.stories.tsx
  app/layout/scenarios/edit/analysis/component.tsx
  app/layout/scenarios/edit/features/add/component.tsx
  app/layout/scenarios/edit/features/component.tsx
  app/layout/scenarios/edit/features/list/component.tsx
  app/layout/scenarios/edit/features/targets/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/edit/planning-unit/component.tsx
  app/layout/scenarios/edit/status/actions/failure.tsx
  app/layout/scenarios/edit/tabs/constants.ts
  app/layout/scenarios/edit/wdpa/component.tsx
  app/pages/projects/[pid]/scenarios/[sid]/edit.tsx
  app/utils/tabs.ts
Labels: Frontend, refactor

#820 front(feat): features new workflow[MARXAN-1260]
  app/components/tabs/component.stories.tsx
  app/layout/pill/component.tsx
  app/layout/scenarios/edit/features/component.tsx
  app/layout/scenarios/edit/features/gap-analysis/component.tsx
  app/layout/scenarios/edit/features/gap-analysis/index.ts
  app/layout/scenarios/edit/features/gap-analysis/list/component.tsx
  app/layout/scenarios/edit/features/gap-analysis/list/index.ts
  app/layout/scenarios/edit/features/gap-analysis/toolbar/component.tsx
  app/layout/scenarios/edit/features/gap-analysis/toolbar/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/filters/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/filters/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/list/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/list/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/toolbar/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/toolbar/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/uploader/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/uploader/index.ts
  app/layout/scenarios/edit/features/set-up/add/component.tsx
  app/layout/scenarios/edit/features/set-up/add/index.ts
  app/layout/scenarios/edit/features/set-up/add/intersect/component.tsx
  app/layout/scenarios/edit/features/set-up/add/intersect/index.ts
  app/layout/scenarios/edit/features/set-up/add/intersect/list/component.tsx
  app/layout/scenarios/edit/features/set-up/add/intersect/list/index.ts
  app/layout/scenarios/edit/features/set-up/add/intersect/toolbar/component.tsx
  app/layout/scenarios/edit/features/set-up/add/intersect/toolbar/index.ts
  app/layout/scenarios/edit/features/set-up/add/list/component.tsx
  app/layout/scenarios/edit/features/set-up/add/list/index.ts
  app/layout/scenarios/edit/features/set-up/component.tsx
  app/layout/scenarios/edit/features/set-up/index.ts
  app/layout/scenarios/edit/features/set-up/targets/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/index.ts
  app/layout/scenarios/edit/features/set-up/targets/list/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/list/index.ts
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/edit/status/actions/done.tsx
  app/layout/scenarios/edit/status/utils.tsx
  app/layout/scenarios/edit/tabs/constants.ts
  app/utils/tabs.ts
  app/utils/utils-scenarios.js
Labels: Frontend, Ready to review

#826 Feat/import piece worker
  api/apps/api/src/modules/clone/clone.module.ts
  api/apps/api/src/modules/clone/infra/export/cancel-export-pending-jobs.handler.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.ts
  api/apps/api/src/modules/clone/infra/export/export-queue.provider.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/api/src/modules/clone/infra/import/import-queue.provider.ts
  api/apps/api/src/modules/clone/infra/import/import.infra.module.ts
  api/apps/geoprocessing/src/export/export-pieces.integration.spec.ts
  api/apps/geoprocessing/src/export/export.module.ts
  api/apps/geoprocessing/src/export/export.processor.ts
  api/apps/geoprocessing/src/export/export.worker.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-grid.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces/export-piece-processor.ts
  api/apps/geoprocessing/src/export/pieces/export-pieces.module.ts
  api/apps/geoprocessing/src/export/pieces/export-pieces.provider.ts
  api/apps/geoprocessing/src/export/pieces/piece-processor.ts
  api/apps/geoprocessing/src/export/pieces/pieces.provider.ts
  api/apps/geoprocessing/src/import/import.module.ts
  api/apps/geoprocessing/src/import/import.processor.ts
  api/apps/geoprocessing/src/import/import.worker.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces/import-piece-processor.ts
  api/apps/geoprocessing/src/import/pieces/import-pieces.module.ts
  api/apps/geoprocessing/src/import/pieces/import-pieces.provider.ts
  api/libs/cloning/src/index.ts
  api/libs/cloning/src/job-input.ts
  api/libs/cloning/src/job-output.ts
  api/libs/cloning/src/piece-processor.port.ts
Labels: API

#825 MARXAN-1261 Requested changes for scenario locks endpoints
  api/apps/api/src/modules/access-control/scenarios-acl/locks/__mocks__/scenario-access-control.mock.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/dto/scenario.lock.dto.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/lock.service.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-access-control.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.service.ts
  api/apps/api/src/modules/scenarios/scenarios.controller.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/api/test/scenario-locks/project-scenario-locks.e2e-spec.ts
  api/apps/api/test/scenario-locks/project-scenario-locks.fixtures.ts
Labels: API

#824 Feat/archive reader adapter
  api/apps/api/src/modules/clone/export/adapters/export-adapters.module.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/adapters/resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/adapters/resource-pieces/project-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/adapters/resource-pieces/scenario-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/api/src/modules/clone/export/application/export-resource-pieces.port.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
  api/apps/api/src/modules/clone/import/adapters/archive-reader.adapter.ts
  api/apps/api/src/modules/clone/import/adapters/import-adapters.module.ts
  api/apps/api/src/modules/clone/import/adapters/import-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/import/application/archive-reader.port.ts
  api/apps/api/src/modules/clone/import/application/import-application.module.ts
  api/apps/api/src/modules/clone/import/application/import-archive.spec.ts
  api/apps/api/src/modules/clone/import/application/import-resource-pieces.port.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-grid.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/libs/cloning/src/domain/resource.id.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/export-config.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-custom.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-gadm.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-grid-custom.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
  api/libs/files-repository/src/file.repository.ts
  api/libs/utils/src/index.ts
  api/libs/utils/src/zip-file-extractor.ts
Labels: API

#821 front(feat): solutions new workflow[MARXAN-1262]
  app/layout/scenarios/edit/features/set-up/add/component.tsx
  app/layout/scenarios/edit/features/set-up/add/list/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/clicking/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/clicking/index.ts
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/drawing/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/drawing/index.ts
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/index.ts
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/uploading/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/buttons/uploading/index.ts
  app/layout/scenarios/edit/parameters/_adjust-planning-units/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/tabs/component.tsx
  app/layout/scenarios/edit/parameters/_adjust-planning-units/tabs/index.ts
  app/layout/scenarios/edit/parameters/_cost-surface/component.tsx
  app/layout/scenarios/edit/parameters/_gap-analysis/component.tsx
  app/layout/scenarios/edit/parameters/_gap-analysis/list/component.tsx
  app/layout/scenarios/edit/parameters/_gap-analysis/list/index.ts
  app/layout/scenarios/edit/parameters/_gap-analysis/toolbar/component.tsx
  app/layout/scenarios/edit/parameters/_gap-analysis/toolbar/index.ts
  app/layout/scenarios/edit/parameters/blm-calibration/blm-chart/index.ts
  app/layout/scenarios/edit/parameters/blm-calibration/blm-settings-graph/index.ts
  app/layout/scenarios/edit/parameters/blm-calibration/chart/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/chart/constants.ts
  app/layout/scenarios/edit/parameters/blm-calibration/chart/index.ts
  app/layout/scenarios/edit/parameters/blm-calibration/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/image-modal/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/image-modal/index.ts
  app/layout/scenarios/edit/parameters/blm-calibration/settings-chart/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/settings-chart/index.ts
  app/layout/scenarios/edit/parameters/component.tsx
  app/layout/scenarios/edit/run/component.tsx
  app/layout/scenarios/edit/run/constants.tsx
  app/layout/scenarios/edit/run/field/component.tsx
  app/layout/scenarios/edit/solutions/component.tsx
  app/layout/scenarios/edit/solutions/details/types.ts
  app/layout/scenarios/edit/solutions/overview/component.tsx
  app/layout/scenarios/edit/solutions/overview/index.ts
  app/layout/scenarios/edit/solutions/overview/list/component.tsx
  app/layout/scenarios/edit/solutions/overview/list/index.ts
  app/layout/scenarios/edit/solutions/overview/list/types.ts
  app/layout/scenarios/edit/solutions/overview/table/cells/best/component.tsx
  app/layout/scenarios/edit/solutions/overview/table/cells/best/index.ts
  app/layout/scenarios/edit/solutions/overview/table/cells/best/types.ts
  app/layout/scenarios/edit/solutions/overview/table/component.tsx
  app/layout/scenarios/edit/solutions/overview/table/index.ts
  app/layout/scenarios/edit/solutions/overview/table/table-form/component.tsx
  app/layout/scenarios/edit/solutions/overview/table/table-form/index.ts
  app/layout/scenarios/edit/solutions/overview/table/table-form/types.ts
  app/layout/scenarios/edit/solutions/overview/table/types.ts
  app/layout/scenarios/edit/solutions/overview/types.ts
  app/layout/scenarios/edit/solutions/schedule/component.tsx
  app/layout/scenarios/edit/solutions/schedule/index.ts
  app/layout/scenarios/edit/solutions/table/cells/best/index.ts
  app/layout/scenarios/edit/solutions/table/index.ts
  app/layout/scenarios/edit/status/actions/done.tsx
  app/layout/scenarios/edit/tabs/constants.ts
  app/layout/sections/item/component.tsx
  app/utils/tabs.ts
Labels: Frontend, Ready to review

#830 Feat/marxan 875 ensure import flow is connected
  api/apps/api/src/migrations/api/1644845096640-AddImportEvents.ts
  api/apps/api/src/modules/clone/export/adapters/entities/export-component-locations.api.entity.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.command.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.handler.ts
  api/apps/api/src/modules/clone/export/application/export-application.module.ts
  api/apps/api/src/modules/clone/export/application/export-piece-failed.event.ts
  api/apps/api/src/modules/clone/export/application/export-project.command.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.command.ts
  api/apps/api/src/modules/clone/export/index.ts
  api/apps/api/src/modules/clone/import/application/import-archive.spec.ts
  api/apps/api/src/modules/clone/import/application/import-archive.ts
  api/apps/api/src/modules/clone/import/application/import-piece-failed.event.ts
  api/apps/api/src/modules/clone/import/domain/events/all-pieces-imported.event.ts
  api/apps/api/src/modules/clone/import/domain/events/import-requested.event.ts
  api/apps/api/src/modules/clone/import/domain/events/piece-import-requested.event.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
  api/apps/api/src/modules/clone/infra/export/cancel-export-pending-jobs.command.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.ts
  api/apps/api/src/modules/clone/infra/export/export.infra.module.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-submitted.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-pieces-as-failed.command.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.spec.ts
  api/apps/api/src/modules/clone/infra/import/all-pieces-imported.saga.ts
  api/apps/api/src/modules/clone/infra/import/import-requested-saga.ts
  api/apps/api/src/modules/clone/infra/import/import.infra.module.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-submitted.command.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-submitted.handler.ts
  api/apps/api/src/modules/clone/infra/import/piece-import-requested.saga.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.command.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.spec.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.ts
  api/apps/api/src/modules/projects/job-status/job-status.view.api.entity.ts
  api/apps/api/src/modules/projects/job-status/project-status.view.api.entity.ts
  api/apps/api/src/modules/scenarios/cost-surface/application/cost-surface-application.module.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/api/test/cloning/export-piece-failed.saga.e2e-spec.ts
  api/apps/api/test/integration/typeorm-export.repository.integration.e2e-spec.ts
  api/apps/api/test/integration/typeorm-import.repository.integration.e2e-spec.ts
  api/apps/api/test/project/get-export-file.e2e-spec.ts
  api/apps/api/test/project/get-latest-export.e2e-spec.ts
  api/apps/geoprocessing/src/app.module.ts
  api/libs/api-events/src/api-event-kinds.enum.ts
  api/libs/cloning/src/domain/index.ts
  api/libs/cloning/src/job-input.ts
Labels: API

#835 feat: complete import piece handler
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.ts
  api/apps/api/src/modules/clone/import/application/import-application.module.ts
  api/apps/api/src/modules/clone/import/domain/events/piece-imported.event.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
Labels: API

#836 Feat/project metadata piece importer
  api/apps/api/src/modules/clone/import/adapters/archive-reader.adapter.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/libs/utils/src/zip-file-extractor.ts
Labels: API

#831 MARXAN-1237-scenarioLocks-on-all-endpoints
  api/apps/api/src/modules/access-control/projects-acl/project-acl.controller.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/__mocks__/scenario-access-control.mock.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-access-control.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.controller.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.service.ts
  api/apps/api/src/modules/scenarios/scenarios.controller.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/api/src/utils/acl.utils.ts
  api/apps/api/test/access-control/project-acl/project-acl.fixtures.ts
  api/apps/api/test/access-control/scenario-acl/scenario-acl.fixtures.ts
  api/apps/api/test/project-scenarios.e2e-spec.ts
  api/apps/api/test/scenario-locks/project-scenario-locks.e2e-spec.ts
Labels: API

#840 Ref/export commands and events simplification
  api/apps/api/src/modules/clone/export/adapters/memory-export.repository.ts
  api/apps/api/src/modules/clone/export/application/all-pieces-ready.saga.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.handler.ts
  api/apps/api/src/modules/clone/export/application/export-piece-failed.event.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/domain/events/all-pieces-exported.event.ts
  api/apps/api/src/modules/clone/export/domain/events/archive-ready.event.ts
  api/apps/api/src/modules/clone/export/domain/events/export-component-requested.event.ts
  api/apps/api/src/modules/clone/export/domain/events/piece-export-requested.event.ts
  api/apps/api/src/modules/clone/export/domain/events/piece-exported.event.ts
  api/apps/api/src/modules/clone/export/domain/export/export.ts
  api/apps/api/src/modules/clone/export/domain/index.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.ts
  api/apps/api/src/modules/clone/import/application/import-archive.spec.ts
  api/apps/api/src/modules/clone/import/domain/events/piece-import-requested.event.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
  api/apps/api/src/modules/clone/infra/export/archive-ready.saga.ts
  api/apps/api/src/modules/clone/infra/export/cancel-export-pending-jobs.command.ts
  api/apps/api/src/modules/clone/infra/export/cancel-export-pending-jobs.handler.ts
  api/apps/api/src/modules/clone/infra/export/export-piece-failed.saga.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.ts
  api/apps/api/src/modules/clone/infra/export/export.infra.module.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.handler.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-pieces-as-failed.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-pieces-as-failed.handler.ts
  api/apps/api/src/modules/clone/infra/export/piece-export-requested.saga.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.command.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.spec.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-submitted.handler.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.ts
  api/apps/api/test/cloning/export-piece-failed.saga.e2e-spec.ts
  api/apps/api/test/project/request-project-export.e2e-spec.ts
Labels: API

#842 feat: added pending import checking in MarxanBlockGuard
  api/apps/api/src/modules/projects/block-guard/marxan-block-guard.service.spec.ts
  api/apps/api/src/modules/projects/block-guard/marxan-block-guard.service.ts
  api/apps/api/src/modules/projects/project-checker/marxan-project-checker.service.ts
  api/apps/api/src/modules/projects/project-checker/project-checker.service.spec.ts
  api/apps/api/src/modules/scenarios/scenario-checker/marxan-scenario-checker.service.ts
  api/apps/api/src/modules/scenarios/scenario-checker/scenario-checker.service.spec.ts
  api/apps/api/test/project/request-project-export.e2e-spec.ts
  api/apps/api/test/utils/project-checker.service-fake.ts
  api/apps/api/test/utils/scenario-checker.service-fake.ts
Labels: API

#839 Feat/import archive command handler
  api/apps/api/src/modules/api-events/api-event.topic+kind.api.entity.ts
  api/apps/api/src/modules/clone/import/adapters/archive-reader.adapter.ts
  api/apps/api/src/modules/clone/import/adapters/import-adapters.module.ts
  api/apps/api/src/modules/clone/import/application/export-config-reader.spec.ts
  api/apps/api/src/modules/clone/import/application/export-config-reader.ts
  api/apps/api/src/modules/clone/import/application/import-application.module.ts
  api/apps/api/src/modules/clone/import/application/import-archive.command.ts
  api/apps/api/src/modules/clone/import/application/import-archive.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-archive.handler.ts
  api/apps/api/src/modules/clone/import/application/import-archive.spec.ts
  api/apps/api/src/modules/clone/import/application/import-archive.ts
  api/apps/api/src/utils/json.type.ts
  api/libs/cloning/src/domain/resource.kind.ts
  api/libs/cloning/src/infrastructure/archive-reader.adapter.ts
  api/libs/cloning/src/infrastructure/archive-reader.module.ts
  api/libs/cloning/src/infrastructure/archive-reader.port.ts
Labels: API

#846 Feat/endpoint for importing projects
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/api/src/modules/clone/infra/import/import.infra.module.ts
  api/apps/api/src/modules/clone/infra/import/upload-export-file.command.ts
  api/apps/api/src/modules/clone/infra/import/upload-export-file.handler.ts
  api/apps/api/src/modules/projects/dto/import.project.response.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
Labels: API

#844 MARXAN-1091-lock-expiration-userToken
  api/apps/api/src/migrations/api/1645026803969-AddTokenIdColumnToLocks.ts
  api/apps/api/src/modules/access-control/access-control.module.ts
  api/apps/api/src/modules/access-control/projects-acl/project-acl.module.ts
  api/apps/api/src/modules/access-control/projects-acl/project-acl.service.spec.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/entity/scenario.lock.api.entity.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/lock.service.spec.ts
  api/apps/api/src/modules/access-control/scenarios-acl/locks/lock.service.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.module.ts
  api/apps/api/src/modules/access-control/scenarios-acl/scenario-acl.service.spec.ts
  api/apps/api/src/modules/scenarios/scenarios.module.ts
  api/apps/api/test/scenario-locks/project-scenario-locks.e2e-spec.ts
  api/apps/api/test/scenario-locks/project-scenario-locks.fixtures.ts
Labels: API

#851 Page progress bar
  app/layout/loading/component.tsx
  app/layout/loading/index.ts
  app/layout/projects/show/map/component.tsx
  app/layout/projects/show/scenarios/component.tsx
  app/package.json
  app/pages/_app.tsx
  app/yarn.lock
Labels: Frontend, Ready to review, New feature

#848 Feat(front): homepage sections entry animations [MARXAN-1300]
  app/layout/home/banner/component.tsx
  app/layout/home/features/component.tsx
  app/layout/home/features/item/component.tsx
  app/layout/home/features/item/index.ts
  app/layout/home/partners/component.tsx
  app/layout/home/support/component.tsx
  app/layout/home/support/item/component.tsx
  app/layout/home/support/item/index.ts
  app/pages/index.tsx
Labels: Frontend, Ready to review

#838 feat(front): PDF reports[MARXAN-828]
  app/.gitignore
  app/layout/guide-request/component.tsx
  app/layout/scenarios/map/component.tsx
  app/layout/scenarios/reports/header/component.tsx
  app/layout/scenarios/reports/header/index.ts
  app/layout/scenarios/reports/map/component.tsx
  app/layout/scenarios/reports/map/index.ts
  app/layout/scenarios/reports/solutions/page-1/component.tsx
  app/layout/scenarios/reports/solutions/page-1/index.ts
  app/layout/scenarios/reports/solutions/page-2/component.tsx
  app/layout/scenarios/reports/solutions/page-2/index.ts
  app/layout/scenarios/reports/solutions/page-3/component.tsx
  app/layout/scenarios/reports/solutions/page-3/index.ts
  app/layout/scenarios/reports/solutions/page-4/component.tsx
  app/layout/scenarios/reports/solutions/page-4/constants.ts
  app/layout/scenarios/reports/solutions/page-4/index.ts
  app/layout/scenarios/reports/webshoot-status/component.tsx
  app/layout/scenarios/reports/webshoot-status/index.ts
  app/pages/reports/[pid]/[sid]/solutions.tsx
  app/report.20220217.192831.74249.0.001.json
  app/report.20220217.211737.74525.0.001.json
  app/styles/tailwind.css
Labels: enhancement, Frontend, Ready to review

#852 Feat/scenario metadata piece importer
  api/apps/api/src/modules/clone/export/application/export-scenario.command.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
  api/apps/api/src/modules/clone/import/adapters/import-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/import/application/export-config-reader.spec.ts
  api/apps/api/src/modules/clone/import/application/export-config-reader.ts
  api/apps/api/src/modules/clone/import/application/import-application.module.ts
  api/apps/api/src/modules/clone/import/application/import-project.command.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.ts
  api/apps/api/src/modules/clone/import/application/import-resource-pieces.port.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.ts
  api/apps/api/src/modules/clone/infra/import/import-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/import/import-piece.events-handler.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/geoprocessing/src/export/export.processor.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-grid.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces/export-pieces.provider.ts
  api/apps/geoprocessing/src/import/import.processor.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces/import-pieces.provider.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/export-config.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
  api/libs/cloning/src/job-input.ts
  api/libs/cloning/src/job-output.ts
  api/libs/cloning/src/piece-processor.port.ts
Labels: API

#857 fix: wrong block guard usage in scenarios service
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/api/test/scenarios/update-scenario.e2e-spec.ts
Labels: bug, API

#858 feat: planning area custom piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-custom.ts
Labels: API

#864 fix(front): loader on upload custom features [MARXAN-1287]
  app/hooks/features/index.ts
  app/layout/scenarios/edit/features/set-up/add/add-modal/list/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/uploader/component.tsx
Labels: bug, Frontend, Ready to review

#861 fix(front): min and max area size validator
  app/layout/projects/new/form/component.tsx
  app/layout/projects/new/form/planning-area-selector/component.tsx
  app/layout/projects/new/form/planning-area-selector/planning-unit-area-size/component.tsx
  app/layout/projects/new/form/planning-area-selector/planning-unit-grid/component.tsx
Labels: bug, Frontend, Ready to review

#862 feat: planning area gadm piece importer
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-gadm.piece-importer.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-gadm.ts
Labels: API

#867 Ref/export resource pieces adapter
  api/apps/api/src/modules/clone/export/adapters/export-adapters.module.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/application/complete-export-piece.handler.ts
Labels: API
