Repository Vizzuality/marxan-cloud, pull requests merged in 2022-03, with the labels that each got.

#880 feat: add version check to export config validation process
  api/apps/api/src/modules/clone/import/application/export-config-reader.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/export-config.ts
Labels: API

#883 feat: add logger error messages to piece exporters
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
Labels: API

#878 feat: planning area grid custom piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-grid.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-grid-custom.ts
Labels: API

#843 Setup for planning area tiles service
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.module.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/e2e.config.ts
  api/apps/api/test/project-planning-areas-tiles/project-tiles.e2e-spec.ts
  api/apps/api/test/project-planning-areas-tiles/test-grid-planning.zip
  api/apps/api/test/project-planning-areas-tiles/test-planning-area.zip
  api/apps/api/test/project-planning-areas-tiles/world.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-area-tiles/planning-area-tiles.service.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-area.controller.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-area.module.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-units-grid/planning-area-grid-tiles.service.ts
  api/apps/geoprocessing/test/index.html
  docs/features/map-tiles-custom-areas/high-level-design.md
Labels: API, Ready to review

#887 Feat/planning area grid custom piece importer
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-custom-grid.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom-grid.piece-importer.e2e-spec.ts
  api/libs/cloning/src/domain/component-location.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-grid-custom.ts
Labels: API

#876 feat(front): shapefile grid info + publish project modal[MARXAN-1218][MARXAN-1329]
  app/components/forms/component.stories.tsx
  app/layout/projects/new/form/component.tsx
  app/layout/projects/new/form/planning-area-grid-uploader/component.tsx
  app/layout/projects/show/header/toolbar/component.tsx
  app/layout/projects/show/header/toolbar/publish-btn/component.tsx
  app/layout/projects/show/header/toolbar/publish-btn/index.ts
Labels: enhancement, Frontend, Ready to review

#885 Marxan 1164 implicit permissions
  api/apps/api/src/migrations/api/1645550554581-ImplicitRolesFunctionsAndTriggers.ts
  api/apps/api/src/modules/access-control/scenarios-acl/entity/users-scenarios.api.entity.ts
  api/apps/api/src/modules/scenarios/scenarios-crud.service.ts
  api/apps/api/test/implicit-permissions/implicit-permissions.e2e-spec.ts
  api/apps/api/test/implicit-permissions/implicit-permissions.fixtures.ts
  api/apps/api/test/project-scenarios.e2e-spec.ts
Labels: API, WIP

#891 fix: add fake project id to planning area when uploading planning area
  api/apps/geoprocessing/test/integration/planning-areas/custom-planning-area.repository.e2e-spec.ts
  api/libs/planning-area-repository/src/custom-planning-area.repository.ts
Labels: API

#890 MARXAN-1124-add-users-to-project-workflow
  api/apps/api/src/modules/users/dto/create.user.dto.ts
  api/apps/api/src/modules/users/dto/update.user.dto.ts
  api/apps/api/src/modules/users/users.controller.ts
  api/apps/api/src/modules/users/users.service.ts
  api/apps/api/test/users.e2e-spec.ts
Labels: API

#884 Grid tiles
  .github/workflows/cypress.yml
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  app/components/map/legend/component.tsx
  app/hooks/map/index.ts
  app/hooks/map/types.ts
  app/hooks/organizations/index.ts
  app/layout/projects/new/form/component.tsx
  app/layout/projects/new/form/planning-area-grid-uploader/component.tsx
  app/layout/projects/new/form/planning-area-uploader/component.tsx
  app/layout/projects/new/map/component.tsx
  app/layout/projects/show/map/component.tsx
  app/layout/scenarios/edit/lock/component.tsx
  app/layout/scenarios/new/map/component.tsx
  app/layout/scenarios/sidebar/component.tsx
  app/store/slices/projects/new.ts
Labels: Frontend, Ready to review, New feature

#904 feat: project custom protected areas piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-custom-protected-areas.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-custom-protected-areas.ts
Labels: API

#905 feat: project custom protected areas importer
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-custom.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-custom-protected-areas.piece-importer.ts
Labels: API

#906 feat: scenario protected areas piece exporter
  api/apps/api/src/migrations/api/1647358435682-RemoveUnusedScenarioColumns.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.ts
  api/apps/api/src/modules/scenarios/scenario.api.entity.ts
  api/apps/api/src/modules/scenarios/scenarios-crud.service.ts
  api/apps/api/test/scenarios/input-file.e2e-spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-protected-areas.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-protected-areas.ts
Labels: API

#910 feat: export/import marxan settings
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
Labels: API

#907 feat: scenario protected areas piece importer
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-protected-areas.piece-importer.ts
Labels: API

#915 fix: scenario protected areas piece importer
  api/apps/geoprocessing/src/import/pieces-importers/scenario-protected-areas.piece-importer.ts
Labels: API

#914 feat: scenario run results piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-run-results.ts
Labels: API

#912 feat: scenario planning units data piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-geojson.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-units-grid-geojson.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-units-grid.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-custom-protected-areas.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-planning-units-data.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-protected-areas.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-custom.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-gadm.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-custom-protected-areas.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-planning-units-data.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-protected-areas.ts
Labels: API

#917 fix: planning units grid piece importer and scenario protected areas piece exporter
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-protected-areas.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-custom.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-gadm.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-units-grid.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
Labels: API

#919 feat : scenario run results piece importer and fix scenario run resul…
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-run-results.piece-importer.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-run-results.ts
Labels: API

#903 feat(front): view mode based on permissions [MARXAN-1295]
  app/components/avatar/component.tsx
  app/components/features/selected-item/component.tsx
  app/components/features/target-spf-item/component.tsx
  app/components/features/target-spf-item/types.ts
  app/components/forms/select/multi/component.tsx
  app/components/forms/select/single/component.tsx
  app/components/forms/select/toggle/component.tsx
  app/components/forms/select/types.d.ts
  app/components/scenarios/item/component.tsx
  app/components/scenarios/item/settings/component.tsx
  app/components/search/component.tsx
  app/components/uploader/component.tsx
  app/components/uploader/types.ts
  app/hoc/scenarios.ts
  app/hooks/permissions/index.ts
  app/hooks/permissions/types.ts
  app/hooks/project-users/index.ts
  app/hooks/scenarios/index.ts
  app/layout/header/title/component.tsx
  app/layout/projects/all/list/item/component.tsx
  app/layout/projects/show/header/contributors/component.tsx
  app/layout/projects/show/header/contributors/edit-dropdown/card/component.tsx
  app/layout/projects/show/header/contributors/edit-dropdown/component.tsx
  app/layout/projects/show/header/title/component.tsx
  app/layout/projects/show/header/toolbar/publish-btn/component.tsx
  app/layout/projects/show/scenarios/component.tsx
  app/layout/scenarios/edit/features/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/component.tsx
  app/layout/scenarios/edit/features/set-up/add/list/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/list/component.tsx
  app/layout/scenarios/edit/lock/component.tsx
  app/layout/scenarios/edit/lock/lock-modal/component.tsx
  app/layout/scenarios/edit/lock/lock-modal/index.ts
  app/layout/scenarios/edit/parameters/advanced-settings/component.tsx
  app/layout/scenarios/edit/parameters/advanced-settings/field/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/settings-chart/component.tsx
  app/layout/scenarios/edit/parameters/component.tsx
  app/layout/scenarios/edit/planning-unit/adjust-planning-units/component.tsx
  app/layout/scenarios/edit/planning-unit/component.tsx
  app/layout/scenarios/edit/planning-unit/cost-surface/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/categories/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/categories/pa-uploader/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/pa-selected/component.tsx
  app/layout/scenarios/edit/planning-unit/protected-areas/threshold/component.tsx
  app/layout/scenarios/edit/status/component.tsx
Labels: Frontend, Ready to review

#913 MARXAN-1380-unpublish-public-project
  api/apps/api/src/modules/published-project/controllers/publish-project.controller.ts
  api/apps/api/src/modules/published-project/published-project-crud.service.ts
  api/apps/api/src/modules/published-project/published-project.service.ts
  api/apps/api/test/project/projects.fixtures.ts
  api/apps/api/test/project/public-projects.e2e-spec.ts
Labels: API

#927 fix :scenario run results piece exporter
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
Labels: bug

#924 Feat/marxan 1345 export scenario selection
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/export/application/export-project.command.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/api/src/modules/clone/export/application/export-resource-pieces.port.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
  api/apps/api/src/modules/projects/dto/export.project.dto.ts
  api/apps/api/src/modules/projects/dto/export.project.response.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/cloning/export-piece-failed.saga.e2e-spec.ts
  api/apps/api/test/project/get-export-file.e2e-spec.ts
  api/apps/api/test/project/get-latest-export.e2e-spec.ts
  api/apps/api/test/project/request-project-export.e2e-spec.ts
Labels: API

#921 Ref/planning units creation
  api/apps/api/src/modules/projects/planning-unit-grid/set-project-grid-from-shapefile.handler.ts
  api/apps/geoprocessing/src/migrations/geoprocessing/1647859641978-AddProjectsPuPlanningAreaIdColumn.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-area-garbage-collector.service.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-units-grid/planning-area-grid-tiles.service.ts
  api/apps/geoprocessing/src/modules/planning-area/planning-units-grid/planning-units-grid.processor.ts
  api/apps/geoprocessing/src/modules/planning-units/planning-units.job.ts
  api/apps/geoprocessing/test/integration/planning-unit-grid/planning-units-grid.e2e-spec.ts
  api/apps/geoprocessing/test/integration/planning-unit-grid/planning-units-grid.fixtures.ts
  api/libs/planning-unit-geometry/src/projects-pu.geo.entity.ts
Labels: API

#933 ref: use of query builder in piece importers
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-custom.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/planning-area-gadm.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
Labels: API

#934 ref: use query builder in piece exporters
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom-geojson.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-custom.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-units-grid-geojson.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-units-grid.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
Labels: API

#916 feat: import scenario command and handler
  api/apps/api/src/modules/clone/import/application/import-application.module.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.command.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.ts
Labels: API

#946 ref: shared features data entity
  api/apps/api/src/modules/geo-features/geo-feature.geo.entity.ts
  api/apps/api/src/modules/geo-features/geo-features.module.ts
  api/apps/api/src/modules/geo-features/geo-features.service.ts
  api/apps/api/test/jest-e2e.json
  api/apps/api/test/upload-feature/upload-feature.fixtures.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/db-cleanup/db-cleanup.processor.ts
  api/apps/geoprocessing/src/modules/features/features.geo.entity.ts
  api/apps/geoprocessing/src/modules/features/features.module.ts
  api/apps/geoprocessing/src/modules/features/features.service.ts
  api/apps/geoprocessing/test/integration/marxan-run/blm-calibration-run.e2e-spec.ts
  api/apps/geoprocessing/test/integration/marxan-run/marxan-run.e2e-spec.ts
  api/apps/geoprocessing/test/jest-e2e.json
  api/libs/geofeatures/src/geo-feature.geo.entity.ts
  api/libs/geofeatures/src/geometry-source.enum.ts
  api/libs/geofeatures/src/index.ts
  api/libs/geofeatures/tsconfig.lib.json
  api/nest-cli.json
  api/package.json
  api/tsconfig.json
Labels: API
