Repository Vizzuality/marxan-cloud, pull requests merged in 2022-07, with the labels that each got.

#1136 forbid changes to legacy project imports [MARXAN-1612]
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-as-finished.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/run-legacy-project-import.handler.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import-checker/legacy-project-import-checker.module.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import-checker/legacy-project-import-checker.service-fake.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import-checker/legacy-project-import-checker.service.spec.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import-checker/legacy-project-import-checker.service.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import-checker/marxan-legacy-project-import-checker.service.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/src/modules/projects/block-guard/block-guard.module.ts
  api/apps/api/src/modules/projects/block-guard/marxan-block-guard.service.spec.ts
  api/apps/api/src/modules/projects/block-guard/marxan-block-guard.service.ts
  api/apps/api/src/modules/scenarios/scenarios.module.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
Labels: API

#1165 fix(front): update banner home images[MARXAN-1387]
  app/images/home/banner/banner-1.png
  app/images/home/banner/banner-2.png
  app/images/home/banner/banner-3.png
  app/layout/home/banner/component.tsx
Labels: Frontend, Ready to review

#1166 Fix/marxan 1685 make description optional legacy project import
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.command.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.ts
  api/apps/api/src/modules/projects/dto/legacy-project-import.dto.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/scenarios-pus-data.legacy-piece-importer.ts
Labels: API

#1151 feat(front): upload legacy projects[MARXAN-1530]
  app/components/features/selected-item/component.tsx
  app/components/features/target-spf-item/component.tsx
  app/components/features/target-spf-item/types.ts
  app/components/modal/types.ts
  app/hooks/map/index.ts
  app/hooks/map/types.ts
  app/hooks/projects/index.ts
  app/hooks/projects/types.ts
  app/layout/projects/all/toolbar/upload-btn/component.tsx
  app/layout/projects/all/toolbar/upload-btn/constants.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/component.tsx
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/create-project/component.tsx
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/create-project/index.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/index.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/component.tsx
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/constants.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/index.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/upload-item/component.tsx
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/upload-item/index.ts
  app/layout/projects/all/toolbar/upload-btn/upload-modal/component.tsx
  app/layout/projects/show/status/actions/done.tsx
  app/layout/projects/show/status/component.tsx
  app/layout/projects/show/status/constants.ts
  app/layout/scenarios/edit/features/set-up/add/list/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/list/component.tsx
  app/layout/scenarios/edit/map/component.tsx
  app/store/slices/projects/new.ts
  app/store/slices/scenarios/edit.ts
  app/svgs/project/upload_legacy_project.svg
  app/svgs/project/upload_project.svg
Labels: Frontend, WIP

#1176 fix: add fk between puvspr_calculations and projects_pu table
  api/apps/api/src/modules/scenarios-features/compute-area.service.spec.ts
  api/apps/api/src/modules/scenarios-features/compute-area.service.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvspr.dat.legacy-project.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvspr.dat.marxan-project.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvspr.dat.processor.module.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvspr.dat.processor.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvsrpr.dat.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.service.ts
  api/apps/api/src/modules/scenarios/input-files/puvspr.data.service.spec.ts
  api/apps/geoprocessing/src/migrations/geoprocessing/1657780657222-AddFKBetweenPuvsprCalculationsAndProjectsPu.ts
  api/libs/puvspr-calculations/src/index.ts
  api/libs/puvspr-calculations/src/puvspr-calculations.geo.entity.ts
  api/libs/puvspr-calculations/src/puvspr-calculations.service.ts
  api/libs/puvspr-calculations/src/repository/memory-puvspr-calculations.repository.ts
  api/libs/puvspr-calculations/src/repository/puvspr-calculations.repository.ts
  api/libs/puvspr-calculations/src/repository/typeorm-puvspr-calculations.repository.ts
Labels: API

#1177 feat: update scenario metadata for legacy project imports
  api/apps/api/src/modules/legacy-project-import/application/mark-legacy-project-import-as-finished.handler.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/input.legacy-piece-importer.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/input.legacy-piece-importer.e2e-spec.ts
Labels: API

#1178 fix: filter features in getLegacyAndMarxanFeatures method
  api/apps/api/src/modules/scenarios/input-files/puvspr.dat.processor/puvspr.dat.legacy-project.ts
Labels: API

#1161 Feat/marxan 1675 export and import puvspr calculations
  api/apps/api/src/migrations/api/1657091494184-AddClonePiceForProjectPuvsprCalculations.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-puvspr-calculations.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-puvspr-calculations.piece-importer.ts
  api/apps/geoprocessing/src/migrations/geoprocessing/1655901622494-AddApiFeatureIdToScenarioFeaturesData.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-puvspr-calculations.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-puvspr-calculations.piece-importer.e2e-spec.ts
  api/libs/cloning/src/domain/clone-piece.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-puvspr-calculations.ts
Labels: API

#1187 feat: remove stratification option from SpecFromGeoFeatureWithGeoproc…
  api/apps/api/src/modules/geo-features/dto/geo-feature-set-specification.dto.ts
Labels: API

#1194 fix: filter values in split query service
  api/apps/api/src/modules/scenarios-features/split/split-query.service.ts
Labels: API

#1195 feat: set planning unit grid shape on legacy projects
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/planning-grid.legacy-piece-importer.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/planning-grid.legacy-piece-importer.e2e-spec.ts
Labels: API

#1191 feat: add project sources to project metadata piece exporter and impo…
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.spec.ts
  api/apps/api/src/modules/legacy-project-import/application/start-legacy-project-import.handler.ts
  api/apps/api/src/modules/projects/project.api.entity.ts
  api/apps/api/src/modules/scenarios/input-files/input-params/input-parameter-file.provider.spec.ts
  api/apps/api/test/project/import-project.e2e-spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/projects/src/index.ts
  api/libs/projects/src/project-sources/project-sources.enum.ts
Labels: API

#1192 feat: add scenario solutions are locked to scenario metadata piece ex…
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-metadata.ts
Labels: API

#1189 feat(front): legacy project validations + solutions locked[MARXAN-1693]
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/component.tsx
  app/layout/projects/show/status/actions/done.tsx
  app/layout/scenarios/edit/parameters/component.tsx
Labels: Frontend, Ready to review

#1193 feat: add amount from legacy project to scenario features data piece …
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-data.piece-exporter.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-features-data.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-features-data.ts
Labels: API

#1200 feat: calculate project and scenario blm values before running legacy…
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.module.ts
  api/apps/api/src/modules/projects/projects.service.ts
Labels: API

#1172 Features: Split
  app/components/features/intersect-item/component.stories.tsx
  app/components/features/intersect-item/component.tsx
  app/components/features/raw-item/component.tsx
  app/components/features/selected-item/component.stories.tsx
  app/components/features/selected-item/component.tsx
  app/components/features/show-target-spf-item/component.stories.tsx
  app/components/features/show-target-spf-item/component.tsx
  app/components/features/show-target-spf-item/index.js
  app/components/features/show-target-spf-item/types.ts
  app/components/features/target-spf-item/component.stories.tsx
  app/components/features/target-spf-item/component.tsx
  app/components/features/target-spf-item/types.ts
  app/components/forms/select/single/component.tsx
  app/components/info-button/component.tsx
  app/components/map/component.stories.tsx
  app/components/tag/component.stories.tsx
  app/components/tooltip/component.tsx
  app/components/tooltip/types.ts
  app/hooks/features/index.ts
  app/hooks/map/constants.tsx
  app/hooks/map/index.ts
  app/hooks/map/types.ts
  app/layout/header/user/component.tsx
  app/layout/projects/show/header/contributors/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/filters/component.tsx
  app/layout/scenarios/edit/features/set-up/add/add-modal/uploader/component.tsx
  app/layout/scenarios/edit/features/set-up/add/intersect/component.tsx
  app/layout/scenarios/edit/features/set-up/add/intersect/list/component.tsx
  app/layout/scenarios/edit/features/set-up/add/list/component.tsx
  app/layout/scenarios/edit/features/set-up/targets/list/component.tsx
  app/layout/scenarios/edit/map/component.tsx
Labels: Frontend, Ready to review, New feature

#1207 fix: bbox filter in getFeaturePropertySetsForFeatures function
  api/apps/api/src/modules/geo-features/geo-feature-property-sets.service.ts
Labels: API

#1211 fix(front): change solutions-report pdf name[MARXAN-1426]
  app/hooks/scenarios/index.ts
  app/hooks/scenarios/types.ts
  app/layout/scenarios/edit/solutions/overview/component.tsx
  app/utils/units.ts
Labels: Frontend, Ready to review

#1214 fix(front): add company contact email to an env var [MARXAN-1721]
  app/layout/beta/component.tsx
  app/layout/community/component.tsx
  app/layout/footer/component.tsx
  app/layout/statics/contact/component.tsx
Labels: Frontend, Ready to review

#1213 fix: split query service current_pa calculation
  api/apps/api/src/modules/scenarios-features/split/split-query.service.ts
Labels: API

#1216 feat(front): projects dashboard + publish projects disclaimers [MARXAN-1695][MARXAN-1724]
  app/layout/projects/all/list/component.tsx
  app/layout/projects/show/header/toolbar/publish-btn/publish-modal/component.tsx
Labels: Frontend

#1217 add env sample
  app/env.default
Labels: Ready to review

#1220 fix(front): fix max size on data-file legacy uploads [MARXAN-1729]
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/constants.ts
  app/layout/projects/all/toolbar/upload-btn/legacy-upload-modal/upload-files/upload-item/component.tsx
Labels: bug, Frontend

#1215 feat: copy query supports split features
  api/apps/api/src/modules/scenarios-features/copy/copy-data-provider.service.ts
  api/apps/api/src/modules/scenarios-features/copy/copy-operation.service.ts
  api/apps/api/src/modules/scenarios-features/copy/copy-query.service.spec.ts
  api/apps/api/src/modules/scenarios-features/copy/copy-query.service.ts
Labels: API
