Repository Vizzuality/marxan-cloud, pull requests merged in 2022-06, with the labels that each got.

#1113 fix(front): info button texts + update image size format tooltip[MARXAN-1598][MARXAN-1574][MARXAN-1621]
  app/components/features/show-target-spf-item/component.tsx
  app/constants/file-uploader-size-limits.js
  app/layout/projects/show/header/toolbar/publish-btn/publish-modal/company-uploader/component.tsx
  app/layout/scenarios/edit/planning-unit/cost-surface/component.tsx
  app/layout/sign-up/component.tsx
  app/utils/units.ts
Labels: Frontend, Ready to review

#1123 Feat/marxan 1622 add a piece for importing input.dat file
  api/apps/api/src/migrations/api/1654005845323-AddInputPieceToLegacyProjectImportPieceEnum.ts
  api/apps/api/src/modules/legacy-project-import/domain/legacy-project-import/legacy-project-import.ts
  api/apps/api/test/legacy-project-import/legacy-project-import.e2e-spec.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/file-readers.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/input-dat.reader.spec.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/input-dat.reader.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/input.legacy-piece-importer.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/legacy-piece-importers.module.ts
  api/apps/geoprocessing/src/modules/legacy-project-import-files-repository/geo-legacy-project-import-files-repository.module.ts
  api/apps/geoprocessing/src/modules/legacy-project-import-files-repository/index.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/input.legacy-piece-importer.e2e-spec.ts
  api/libs/legacy-project-import/src/domain/legacy-project-import-piece.ts
  api/libs/utils/src/readable-to-buffer.ts
Labels: API

#1129 fix: features specification legacy piece importer
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/features-specification.legacy-piece-importer.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/legacy-piece-importers.module.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/features-specification.legacy-piece-importer.e2e-spec.ts
Labels: bug, API

#1135 fix: add high resolution logo to solutions report + update registration text [MARXAN-1516][MARXAN-1630]
  app/images/logo-black.png
  app/layout/scenarios/reports/solutions/header/component.tsx
  app/layout/sign-up/component.tsx
Labels: Frontend

#1137 fix: change highlight features color [MARXAN-1313]
  app/hooks/map/constants.tsx
Labels: Frontend

#1140 fix solutions legacy piece importer and input-dat reader
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/input-dat.reader.spec.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/input-dat.reader.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/solutions.legacy-piece-importer.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/input.legacy-piece-importer.e2e-spec.ts
Labels: API

#1138 add dat file delimiter finder service and adapt legacy importers
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/features-specification.legacy-piece-importer.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/features.legacy-piece-importer.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/dat-file.comma-or-tab-finder.spec.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/dat-file.comma-or-tab-finder.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/dat-file.delimiter-finder.fake.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/dat-file.delimiter-finder.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/file-readers/file-readers.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-piece-importers/scenarios-pus-data.legacy-piece-importer.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/features-specification.legacy-piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/features.legacy-piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/legacy-project-import/scenarios-pus-data.legacy-piece-importer.e2e-spec.ts
Labels: API

#1144 Feat/marxan 1653 remove exports and imports rows
  api/apps/api/src/migrations/api/1655657559840-AddsExportIdToImportsTable.ts
  api/apps/api/src/modules/clone/export/adapters/memory-export.repository.ts
  api/apps/api/src/modules/clone/export/adapters/typeorm-export.repository.ts
  api/apps/api/src/modules/clone/export/application/export-repository.port.ts
  api/apps/api/src/modules/clone/import/adapters/entities/imports.api.entity.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.ts
  api/apps/api/src/modules/clone/import/domain/events/all-pieces-imported.event.ts
  api/apps/api/src/modules/clone/import/domain/import/import.snapshot.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
  api/apps/api/src/modules/clone/infra/import/all-pieces-imported.saga.ts
  api/apps/api/src/modules/clone/infra/import/mark-clone-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/import/mark-clone-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.spec.ts
  api/apps/api/test/integration/typeorm-export.repository.integration.e2e-spec.ts
  api/apps/api/test/integration/typeorm-import.repository.integration.e2e-spec.ts
  api/apps/api/test/project/clone-project.e2e-spec.ts
  api/apps/api/test/scenarios/clone-scenario.e2e-spec.ts
Labels: API

#1128 MARXAN-1580-disable-initial-export-published-projects
  api/apps/api/src/modules/published-project/published-project-crud.service.ts
  api/apps/api/src/utils/published-export.utils.ts
Labels: API

#1143 feat(front): registration form extension + picky details [MARXAN-1394][MARXAN-1396][MARXAN-1311]
  app/components/confirmation-prompt/component.tsx
  app/components/forms/select/constants/theme.ts
  app/components/forms/select/types.d.ts
  app/layout/admin/users/table/component.tsx
  app/layout/scenarios/edit/solutions/overview/table/table-form/component.tsx
  app/layout/sign-up/component.tsx
  app/layout/sign-up/constants.ts
Labels: Frontend, Ready to review

#1139 add legacy db cleanup worker and processor
  api/apps/geoprocessing/src/legacy-project-import/legacy-db-cleanup/legacy-db-cleanup.module.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-db-cleanup/legacy-db-cleanup.processor.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-db-cleanup/legacy-db-cleanup.worker.ts
  api/apps/geoprocessing/src/legacy-project-import/legacy-project-import.module.ts
Labels: API
