Repository Vizzuality/marxan-cloud, pull requests merged in 2022-04, with the labels that each got.

#945 ref: project/scenario/feature linking
  api/apps/api/src/migrations/api/1648640687600-CreateFeaturesUniqueIndexes.ts
  api/apps/geoprocessing/src/migrations/geoprocessing/1648641020335-AddFeaturesHashColumn.ts
  api/apps/geoprocessing/test/integration/marxan-run/blm-calibration-run.e2e-spec.ts
  api/apps/geoprocessing/test/integration/marxan-run/marxan-run.e2e-spec.ts
Labels: API

#948 Feat marxan 1320 and 1323/export and import project custom features
  api/apps/api/src/migrations/api/1648642114880-AddClonePieceForScenarioFeatures.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-custom-features.piece-exporter.ts
  api/apps/geoprocessing/src/import/db-cleanup/db-cleanup.module.ts
  api/apps/geoprocessing/src/import/db-cleanup/db-cleanup.processor.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-custom-features.piece-importer.ts
  api/libs/cloning/src/domain/clone-piece.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-custom-features.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-features-data.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/user-uploaded-features.ts
Labels: API

#944 Test/piece exporters integration test
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-protected-areas.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/apps/geoprocessing/test/integration/clonning/export-config.project-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/export-config.scenario-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-gadm.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-planning-units-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-run-results.piece-exporter.e2e-spec.ts
Labels: API

#951 feat: scenario features data piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-data.piece-exporter.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-features-data.ts
  api/libs/features/src/scenario-features-data.geo.entity.ts
  api/libs/features/src/scenario-features-preparation.geo.entity.ts
  api/libs/geofeatures/src/geo-feature.geo.entity.ts
Labels: API

#943 Test/piece importers integration test
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-planning-units-data.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-run-results.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-gadm.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-gadm.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-planning-units-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-run-results.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/planning-area-gadm.ts
  api/libs/scenarios-planning-unit/src/index.ts
Labels: API

#953 fix: scenario features service unit test
  api/apps/api/src/modules/scenarios-features/scenario-features.service.spec.ts
  api/apps/geoprocessing/test/integration/marxan-run/blm-calibration-run.e2e-spec.ts
  api/apps/geoprocessing/test/integration/marxan-run/marxan-run.e2e-spec.ts
Labels: bug, API

#958 Test/project custom features and scenario features data pieces exporters and importers
  api/apps/geoprocessing/src/export/pieces-exporters/project-custom-features.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-custom-features.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-custom-protected-areas.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-features.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-features.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-planning-units-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-run-results.piece-importer.e2e-spec.ts
Labels: API

#962 feat: include id of imported project in the response
  api/apps/api/src/modules/clone/import/application/import-project.command.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.command.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.ts
  api/apps/api/src/modules/projects/dto/import.project.response.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
Labels: API

#968 feat(front): update terms of use and privacy policy[MARXAN-1431]
  app/layout/footer/component.tsx
  app/layout/statics/privacy-policy/component.tsx
  app/layout/statics/privacy-policy/index.ts
  app/pages/privacy-policy.tsx
  app/pages/terms-of-use.tsx
  app/public/images/mock/blm-mock-image.png
Labels: Frontend

#965 feat: scenario features specification piece exporter
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-features-specification.piece-exporter.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/features-specification.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/scenario-features-specification.ts
Labels: API

#967 Feat/marxan 1445 grant project owner role on imported cloned project to user
  api/apps/api/src/migrations/api/1649329520250-AddOwnerIdColumnToImportsTable.ts
  api/apps/api/src/modules/clone/import/adapters/entities/imports.api.entity.ts
  api/apps/api/src/modules/clone/import/application/complete-import-piece.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.command.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-project.handler.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.command.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.spec.ts
  api/apps/api/src/modules/clone/import/application/import-scenario.handler.ts
  api/apps/api/src/modules/clone/import/domain/import/import.snapshot.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
  api/apps/api/src/modules/clone/infra/import/import-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.spec.ts
  api/apps/api/src/modules/clone/infra/import/schedule-piece-import.handler.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/integration/typeorm-import.repository.integration.e2e-spec.ts
  api/apps/api/test/jest-e2e.json
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-gadm.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-features.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-planning-units-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-run-results.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/jest-e2e.json
  api/libs/cloning/src/job-input.ts
  api/libs/domain-ids/src/index.ts
  api/libs/domain-ids/src/user-id.ts
  api/libs/domain-ids/tsconfig.lib.json
  api/package.json
  api/tsconfig.json
Labels: API

#973 Feat/marxan 1347 scenario features specification piece importer
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-features-specification.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-specification.piece-importer.e2e-spec.ts
Labels: API

#976 feat: export marxan execution metadata
  api/apps/api/src/migrations/api/1649665709084-AddClonePieceForMarxanExecutionMetadata.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.spec.ts
  api/apps/api/src/modules/clone/export/adapters/export-resource-pieces.adapter.ts
  api/apps/api/src/modules/clone/import/adapters/import-resource-pieces.adapter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/marxan-execution-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/pieces-exporters.module.ts
  api/apps/geoprocessing/test/integration/clonning/fixtures.ts
  api/apps/geoprocessing/test/integration/clonning/marxan-execution-metadata.piece-exporter.e2e-spec.ts
  api/libs/cloning/src/domain/clone-piece.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/index.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/marxan-execution-metadata.ts
Labels: API

#960 feat(front): add BLM screenshots to calibration results[MARXAN-1416]
  app/hooks/scenarios/index.ts
  app/hooks/scenarios/types.ts
  app/layout/scenarios/edit/parameters/blm-calibration/chart/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/image-modal/component.tsx
  app/layout/scenarios/edit/parameters/blm-calibration/settings-chart/component.tsx
  app/pages/api/reports/scenarios/[sid]/blm.ts
  app/pages/api/reports/scenarios/[sid]/solutions.ts
Labels: Frontend, Ready to review, Don't merge

#974 feat(front): features highlight legend on gap-analysis[MARXAN-1313]
  app/hooks/map/constants.tsx
  app/hooks/map/index.ts
  app/hooks/map/types.ts
  app/layout/scenarios/edit/map/component.tsx
Labels: Frontend, Ready to review

#980 feat(front): download project[MARXAN-1477]
  app/cypress/integration/home__test__.js
  app/hooks/projects/index.ts
  app/hooks/projects/types.ts
  app/layout/projects/show/header/toolbar/component.tsx
  app/layout/projects/show/status/actions/done.tsx
  app/layout/projects/show/status/actions/failure.tsx
  app/layout/projects/show/status/constants.ts
Labels: Frontend, WIP

#983 feat: import marxan execution metadata
  api/apps/geoprocessing/src/export/pieces-exporters/marxan-execution-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/marxan-execution-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/pieces-importers.module.ts
  api/apps/geoprocessing/test/integration/clonning/marxan-execution-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/marxan-execution-metadata.ts
  api/libs/utils/src/index.ts
  api/libs/utils/src/zip-file-extractor.ts
Labels: API

#977 feat(front): update protected areas after uploading custom[MARXAN-1251]
  app/layout/scenarios/edit/status/actions/done.tsx
  app/layout/scenarios/edit/status/actions/failure.tsx
  app/layout/scenarios/edit/status/constants.ts
Labels: Frontend, Ready to review

#987 feat: project metadata clone piece adjustments
  api/apps/api/src/modules/clone/export/application/export-application.module.ts
  api/apps/api/src/modules/clone/export/application/export-project.command.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.spec.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/api/src/modules/clone/import/application/export-config-reader.spec.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/geoprocessing/src/export/export-pieces.integration.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/clonning/export-config.project-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/export-config.scenario-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/marxan-execution-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-custom.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-area-gadm.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/planning-units-grid.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-features.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-custom-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-planning-units-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/clonning/scenario-run-results.piece-exporter.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/export-config.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/job-input.ts
Labels: API

#988 ref: cloning integration tests folder structure
  api/apps/geoprocessing/test/integration/cloning/fixtures.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/export-config.project-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/export-config.scenario-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/marxan-execution-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-custom-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-custom.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-gadm.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-units-grid-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-units-grid.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-custom-features.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-custom-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-planning-units-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-run-results.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/marxan-execution-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/planning-area-custom.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/planning-area-gadm.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/planning-units-grid.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-custom-features.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-custom-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-features-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-features-specification.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-metadata.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-planning-units-data.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-protected-areas.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-run-results.piece-importer.e2e-spec.ts
  api/apps/geoprocessing/test/integration/marxan-run/blm-calibration-run.e2e-spec.ts
Labels: API

#990 feat: return user id on get latest export endpoint
  api/apps/api/src/modules/projects/dto/export.project.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.module.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/api/test/project/get-latest-export.e2e-spec.ts
Labels: API

#993 implements-search-users-PublishedProjects
  api/apps/api/src/modules/published-project/published-project-crud.service.ts
  api/apps/api/src/modules/users/user-requests-info.ts
  api/apps/api/src/modules/users/users.service.ts
Labels: API

#991 feat: scenario cloning adjustments
  api/apps/api/src/modules/clone/export/application/export-application.module.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/scenario-metadata.piece-importer.e2e-spec.ts
Labels: API

#992 feat: add clone api events and emit them
  api/apps/api/src/migrations/api/1649833978405-AddClonningEvents.ts
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/api/src/modules/clone/export/domain/events/export-requested.event.ts
  api/apps/api/src/modules/clone/export/domain/export/export.ts
  api/apps/api/src/modules/clone/import/domain/events/all-pieces-imported.event.ts
  api/apps/api/src/modules/clone/import/domain/import/import.ts
  api/apps/api/src/modules/clone/infra/export/archive-ready.saga.ts
  api/apps/api/src/modules/clone/infra/export/export-started.saga.ts
  api/apps/api/src/modules/clone/infra/export/export.infra.module.ts
  api/apps/api/src/modules/clone/infra/export/mark-clone-as-submitted.command.ts
  api/apps/api/src/modules/clone/infra/export/mark-clone-as-submitted.handler.ts
  api/apps/api/src/modules/clone/infra/export/mark-export-as-failed.handler.ts
  api/apps/api/src/modules/clone/infra/import/all-pieces-imported.saga.ts
  api/apps/api/src/modules/clone/infra/import/import.infra.module.ts
  api/apps/api/src/modules/clone/infra/import/mark-clone-as-finished.command.ts
  api/apps/api/src/modules/clone/infra/import/mark-clone-as-finished.handler.ts
  api/apps/api/src/modules/clone/infra/import/mark-import-as-failed.handler.ts
  api/apps/api/src/modules/projects/job-status/job-status.view.api.entity.ts
  api/apps/api/src/modules/projects/job-status/project-status.view.api.entity.ts
  api/libs/api-events/src/api-event-kinds.enum.ts
Labels: API

#994 Feat/marxan 1447 clone project endpoint
  api/apps/api/src/modules/projects/dto/export.project.dto.ts
  api/apps/api/src/modules/projects/projects.controller.ts
  api/apps/api/src/modules/projects/projects.service.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-features-specification.piece-importer.ts
Labels: API

#995 feat: clone scenario endpoint
  api/apps/api/src/modules/clone/export/application/export-project.handler.ts
  api/apps/api/src/modules/clone/export/application/export-scenario.handler.ts
  api/apps/api/src/modules/scenarios/dto/scenario-clone.dto.ts
  api/apps/api/src/modules/scenarios/scenarios.controller.ts
  api/apps/api/src/modules/scenarios/scenarios.service.ts
  api/apps/geoprocessing/src/export/pieces-exporters/scenario-run-results.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/src/import/pieces-importers/scenario-metadata.piece-importer.ts
Labels: API

#998 feat : add clone project and clone scenario e2e test
  api/apps/api/src/modules/clone/import/application/export-config-reader.ts
  api/apps/api/test/project/clone-project.e2e-spec.ts
  api/apps/api/test/project/import-project.e2e-spec.ts
  api/apps/api/test/scenarios/clone-scenario.e2e-spec.ts
Labels: API

#1008 Ref/project metadata piece importer
  api/apps/api/src/modules/clone/import/application/export-config-reader.spec.ts
  api/apps/api/src/modules/clone/infra/export/export-piece.events-handler.spec.ts
  api/apps/api/src/modules/clone/infra/export/schedule-piece-export.handler.ts
  api/apps/api/test/project/clone-project.e2e-spec.ts
  api/apps/api/test/project/import-project.e2e-spec.ts
  api/apps/api/test/scenarios/clone-scenario.e2e-spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.project-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/export-config.scenario-piece-exporter.ts
  api/apps/geoprocessing/src/export/pieces-exporters/planning-area-gadm.piece-exporter.spec.ts
  api/apps/geoprocessing/src/export/pieces-exporters/project-metadata.piece-exporter.ts
  api/apps/geoprocessing/src/import/pieces-importers/project-metadata.piece-importer.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/export-config.project-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/export-config.scenario-piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/marxan-execution-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-custom-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-custom.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-area-gadm.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-units-grid-geojson.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/planning-units-grid.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-custom-features.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-custom-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/project-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-features-specification.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-metadata.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-planning-units-data.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-protected-areas.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-exporters/scenario-run-results.piece-exporter.e2e-spec.ts
  api/apps/geoprocessing/test/integration/cloning/piece-importers/project-metadata.piece-importer.e2e-spec.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/export-config.ts
  api/libs/cloning/src/infrastructure/clone-piece-data/project-metadata.ts
  api/libs/cloning/src/job-input.ts
Labels: API

#1022 fix: PlanningUnitsJobProcessor projects pu creation
  api/apps/geoprocessing/src/modules/planning-units/planning-units.job.ts
Labels: API
